.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 15px 40px;
  background-color: var(--backgroundColor);
  border-radius: 100px;
  width: 60%;

  .titleInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .message {
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.gameScore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
