.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.clientID,
.roomID {
  width: 100%;
}

.formLabel {
  font-size: 16px;
  font-weight: bold;
}

.formInput {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;

  font-size: 16px;
}

.buttonArea {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  .button {
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;

    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
  }

  .vsCPUButton {
    background-color: #ffa500;
    color: white;
  }

  .joinRoomButton {
    background-color: #4caf50;
    color: white;
  }
}
